<%= form_for(@job) do |f| %>
	<% if @job.errors.any? %>
		<div id='alert'>
			<div id='error'>
				<ul>
					<% @job.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>

	<%= f.label :title %>
	<%= f.text_field :title %>
	
	<%= f.label :org %>
	<%= f.text_field :org %>
	
	<p>Internship? &nbsp; &nbsp; <%= f.check_box :internship %> Yes</p>
	
	<%= f.label :postdate %>
	<%= f.date_field :postdate %>

	<%= f.label :filldate %>
	<%= f.date_field :filldate %>

	<%= f.label :location %>
	<%= f.text_field :location %>
	
	<%= f.label :link %>
	<%= f.text_field :link %>

	<%= f.label :description, "Description (HTML allowed)" %>
	<%= f.text_area :description, class: "describe-job" %>

	<br><br>
	<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>