<% if Job.exists? %>
	<% @jobs.each do |job| %>
		<div id='job'>
			<strong><%= link_to job.title, job %></strong>
			<% unless job.org.blank? %>
				- <em><%= job.org %></em>
			<% end %>
		</div>
	<% end %>
<% else %>
	<div id='job'>
		<em>No jobs yet...</em>
	</div>
<% end %>
<div id='job'>
	<%= will_paginate %>
	<div class='right'>
		<% if signed_in? %>
			<%= link_to "Add a new job?", new_job_path %>
		<% else %>
			<%= link_to "Sign in to add new jobs...", signin_path %>
		<% end %>
	</div>
</div>