<h1>Job Board</h1>
<p>Showing <%= @jobs.count %> jobs.</p>

<% @jobs.each do |job| %>
	<p><strong><%= link_to job.title, job %></strong>, <em><%= job.org %></em></p>
<% end %>

<p><%= link_to "Add a new job?", new_job_path %></p>
<p><%= link_to "Sign up!", signup_path %></p>
